<!-- Page Content -->
<div class="container">
  <h1 class="section-header">Careers at Benoit Electric</h1>
  
  <div class="row">
    <div class="col-md-6">
      <h4 class="section-header text-center">We are always looking for seasoned or new talent with a passion for improving their craft as an Electrician.</h4>
      <h4 class="section-header text-center">Come work for the leading Electrical Contractor in Vermont!</h4>
    </div>
    <div class="col-md-6">
      <h5 class="section-header text-center">Visit our Berlin, VT office to fill out an application.</h5>
      <div class="career-map">
        <iframe width="600" height="400" frameborder="0"  style="width: 100%; border: none"
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBqcI-_oHI0osibOP5sBkrjay4tzspkX7w
            &q=254 Industrial Ln, Barre, VT 05641" allowfullscreen>
        </iframe>
      </div>
    </div>
  </div>
</div>