<!-- Page Content -->
<div class="container">
  <h1 class="section-header">Contact Us</h1>
  
  <div class="row">
    <div class="col-md-6">
      <div class="contact-us">
        <div>
          <i class="i-plain fa fa-phone nomargin"></i>
          <div class="he-text">
            Call Us
            <span>(802) 229-1955</span>
          </div>
          <div class="brclear"></div>
        </div>
        <div>
          <i class="i-plain fa fa-envelope-o nomargin"></i>
          <div class="he-text">
            Email Us
            <span>Pam@BenoitElectric.com</span>
          </div>
          <div class="brclear"></div>
        </div>
        <div>
          <i class="i-plain fa fa-map-marker nomargin"></i>
          <div class="he-text">
            Our Address
            <span>245 Industrial Lane, Barre VT</span>
          </div>
          <div class="brclear"></div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="career-map">
        <iframe width="600" height="400" frameborder="0"  style="width: 100%; border: none"
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBqcI-_oHI0osibOP5sBkrjay4tzspkX7w
            &q=254 Industrial Ln, Barre, VT 05641" allowfullscreen>
        </iframe>
      </div>
    </div>
  </div>
</div>