
<!-- Page Content -->
<div class="container">
  <h1 class="section-header">Services</h1>
  
  <div class="row">
    <div class="col-md-2 text-center">
      <i class="fa fa-wrench fa-5x section-header"></i>
    </div>
    <div class="col-md-10">
      <h4 class="text-center">Benoit Electric's service division essures our customers timely service. Our fleet of vehicles is modern and fully stocked to meet any service need. The priority for our service department is delivering prompt, quality service to our customers.</h4>
      <h4 class="section-header text-center">Our customers can reach us 24 hours a day at (802)229-1955</h4>
    </div>
  </div>
</div>