<!-- Page Content -->
<div class="container">
  <h1 class="section-header">Telecom</h1>
  
  <div class="row">
    <div class="col-md-5 text-center">
      <%= image_tag("telecom_patch_2.jpg", :alt => "Telecom Installation", :class => "img-fluid telecom-image") %>
    </div>
    <div class="col-md-7">
      <h4 class="text-center">The Benoit Electric telecom division provides comprehensive design, installation, maintenance, and upgrades throughout Vermont and New Hampshire for all aspects of telecommunications.</h4>
    </div>
  </div>
</div>